body {
    background-color: #17202A;
    margin: 0;
    padding: 0;
}
h1 {
    color: white;
    text-align: center; 
    font-family: Garamond;
    font-size: 100px;
    margin: 0;
}
h2 {
    text-align: center;
    font-family: Garamond;
    font-size: 30px;
    color: white;
    margin: 0;
}
h3 {
    text-align: center;
    font-family: Garamond;
    font-size: 25px;
    color: pink;
    margin: 0;
}
h4 {
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-align: justify;
}
p {
    color: white;
    text-align: center;
    font-size: 17px;
}
.watermark {
    float: left;
    padding-top: 25px;
    padding-left: 60px;
    height: 50px;
}

.format {
  position: absolute;
  width: 500px;
  height: 200px;
  z-index: 15;
  top: 37%;
  left: 50%;
  margin: -100px 0 0 -250px;
}
.elements {
    padding-top: 40px;
    padding-right: 60px;
    padding-bottom: 15px;
    float: right;
}

a:link {
    color: lightblue;
}
a:visited {
    color: lightblue;
}
a:hover {
    color: pink;
}

.project-table {
    margin: 0;
    padding: 0;
}
.project-table p {
    margin-top: -15px;
    font-family: Helvetica; 
    font-weight: normal;
}
.petra-table {
    margin: 0;
    padding 0;
}
    
th, td {
    padding: 5px;
}

.project-table th {
    width: 33.3%;
}
.product-table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.product-table td {
    width: 20%;
}

