body {
    background-color: #17202A;
    margin: 0;
    padding: 0;
}
h1 {
    color: white;
    text-align: center; 
    font-family: Garamond;
    font-size: 100px;
    margin: 0;
}
h2 {
    text-align: center;
    font-family: Garamond;
    font-size: 30px;
    color: white;
    margin: 0;
}
h3 {
    text-align: center;
    font-family: Garamond;
    font-size: 25px;
    color: pink;
    margin: 0;
}
p {
    color: white;
    text-align: center;
    font-size: 17px;
}
.watermark {
    float: left;
    padding-top: 25px;
    padding-left: 25px;
}

.format {
  position: absolute;
  width: 500px;
  height: 200px;
  z-index: 15;
  top: 37%;
  left: 50%;
  margin: -100px 0 0 -250px;
}
.elements {
    padding-top: 40px;
    padding-right: 60px;
    float: right;
}

a:link {
    color: lightblue;
}
a:visited {
    color: purple;
}
a:hover {
    color: pink;
}

.project-table {
    margin: 0;
    padding: 0;
}
.project-table p {
    margin-top: -15px;
    font-family: Helvetica; 
}

th, td {
    padding: 5px;
}

th {
    width: 33.3%;
}

.product, .travel {
    display: inline;
}
